schemas/emfConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="systems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Prod" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SystemRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceName" type="xs:string" minOccurs="0"/>
							<xs:element name="EasitRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="BackupRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="TomcatRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="EmailRequestRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ImportClientRoot" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Test" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SystemRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceName" type="xs:string" minOccurs="0"/>
							<xs:element name="EasitRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="BackupRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="TomcatRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="EmailRequestRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ImportClientRoot" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dev" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SystemRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceName" type="xs:string" minOccurs="0"/>
							<xs:element name="EasitRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="BackupRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="TomcatRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="EmailRequestRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ImportClientRoot" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IntegrationProd" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SystemRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceName" type="xs:string" minOccurs="0"/>
							<xs:element name="EasitRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="BackupRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="TomcatRoot" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IntegrationTest" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SystemRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceName" type="xs:string" minOccurs="0"/>
							<xs:element name="EasitRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="BackupRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="TomcatRoot" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IntegrationDev" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SystemRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceName" type="xs:string" minOccurs="0"/>
							<xs:element name="EasitRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="BackupRoot" type="xs:string" minOccurs="0"/>
							<xs:element name="TomcatRoot" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
